@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset global e estilização base */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  background-color: #F9FAFB;
  /* Cor de fundo definida no tailwind.config.js */
  color: #1F2937;
  /* Cor de texto padrão (gray-800) */
}

code {
  font-family: 'Source Code Pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}